---
	import Layout from '../layouts/Layout.astro';
	import Section from '../components/Section.astro';
	import Experience from '../components/Experience.astro';
---

<Layout title="Hi, I’m a web developer focused on building great user experiences.">
	<main class="mt-12">
		<!-- <h2 class="text-3xl text-center">Resume</h2> -->
		<div class="max-w-5xl mx-auto grid grid-cols-3 gap-12 mt-9">
			<div class="col-span-3 md:col-span-1 order-2 md:order-1">
				<Section title="Technologies">
					<p class="text-lg">HTML, CSS, JavaScript, Git, React, Next js, SASS, Tailwind, Image Manipulation,
						WordPress, Mac
						OS, Linux, Bash</p>
				</Section>
				<Section title="Education">
					<p class="text-lg">Associate of Applied Science focused in <strong>Visual Communications</strong>
						from Sinclair
						Community College</p>
				</Section>
			</div>
			<div class="col-span-3 md:col-span-2 order-1 md:order-2">
				<Section title="About">
					<p class="">I have a strong foundation in web development technologies such as
						HTML, CSS, and
						JavaScript, and
						I
						enjoy using those skills to create visually appealing and user-friendly websites.
						In my previous projects, I have combined my technical expertise with my eye for design to create
						web
						apps that not only function well, but also look great and effectively communicate the desired
						brand
						or message.</p>
				</Section>
				<Section title="Experience">
					<Experience title="Web Development Engineer - Powerley" period="REMOTE | August 2021 - PRESENT"
						items={[ "Fixing issues, and adding features to an existing Next.js website using TypeScript."
						, "Architecting new responsive applications based on figma mockups and maintaining their code bases."
						, "Writing unit tests, maintaining versioning and workflows." , ]} />
					<Experience title="Web Developer - Reynolds and Reynolds"
						period="Dayton, OH | May 2019 - August 2021"
						items={[ "Converting designs into static site models and then into interactive components on Drupal sites."
						, "Contributing to an internal App built using React Native by adding components, custom hooks, and researching libraries such as React Query and implementing them."
						, "Building WordPress themes from scratch and adding additional functionality through ACF and custom widgets."
						, "Building React components to match designs and requirements." ]} />
					<Experience title="Web Intern - CatechismClass.com" period="Remote | August 2017 - Jan 2018"
						items={[ "Creating video content for the website." , "Assisting in embedding videos."
						, "PHP scripting." ]} />
				</Section>
			</div>
		</div>
	</main>
</Layout>